.empty {
    border: 3px salmon solid;
    background-color: #eee;
    height: 180px;
}

.height {
    height:30px;
}

.hovered {
    background: #f4f4f4;
    border-style: dashed;
}

.divCenter {
    line-height: 100px;
    text-align: center;
}
label strong{
    color: black;
}

label strong:hover{
    color: #FAAC58;
    cursor: pointer;
}

.disappear {
    display: none;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

[v-cloak] {display: none;}